@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "tailwindcss";

@theme{
--color-malachite-50: #f0fdf1;
--color-malachite-100: #ddfbe1;
--color-malachite-200: #bdf5c6;
--color-malachite-300: #89ec99;
--color-malachite-400: #4eda65;
--color-malachite-500: #2bd447;
--color-malachite-600: #1a9f30;
--color-malachite-700: #187d2a;
--color-malachite-800: #186326;
--color-malachite-900: #165121;
--color-malachite-950: #062d0e;
--color-prussian-blue-50: #f1f7fe;
--color-prussian-blue-100: #e3eefb;
--color-prussian-blue-200: #c0ddf7;
--color-prussian-blue-300: #89c1f0;
--color-prussian-blue-400: #4aa1e6;
--color-prussian-blue-500: #2285d5;
--color-prussian-blue-600: #1469b5;
--color-prussian-blue-700: #125492;
--color-prussian-blue-800: #134779;
--color-prussian-blue-900: #123456;
--color-prussian-blue-950: #0e2743;
--color-primaryColour: "#16181C";
--color-lightText: "#878e99";
--color-designColour: "#ff014f";
--color-titleColour: "#c4cfde";
--color-test: "linear-gradient(145deg, #1e2024, #23272b)";
}



    /* extend: {
      fontFamily: {
        bodyFont: ["Roboto", "sans - serif"],
      },*/
      
      
      /*
      backgroundImage: {
        "hero-image": "url('./banner.jpg')",
      }, */